* {
  font-family: 'Roboto', sans-serif;
}

/* MIX */
.logo {
  width:165px;
}

ul {
  margin-bottom: 0;
}

.bg_secondary {
  background-color: #F3F5F9;
}

.textb_color {
color: #006AFF;
}

.textw_color {
  color: white;
}

.textg_color {
  color: #68748F;
}

.textlg_color {
  color: #6E7993;
}

.spacing_fix {
  font-size: 0;
}

/* Focus chrome fix */
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}


/* Features box */

.features_box {
  padding-bottom: 40px;
}

.features_box img {
  height: 40px;
}

.features_box h3 {
  font-weight: 700;
  font-size: 18px;
}

.features_box p {
  font-size: 15px;
  color: #6E7993;
  margin-bottom: 10px;
}

.features_box a {
  color: #006AFF;
}

.features_box a:hover {
  color: #006AFF;
}

/* TYPO */

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header .top_bar a {
  color: black;
}

header .top_bar a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 35px;
}

h2 ~ p {
font-size: 21px;
}

/* Dropdown links */
details {
  position: relative;
}

details summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details p {
  position: absolute;
}

details ul {
  position: absolute;
  background-color: white;
  z-index: 5;
  border: 1px solid black;
  padding: 10px 40px;
}

details li:hover {
  text-shadow: 0 0 6px #006AFF;
}

details li:not(:last-child) {
  margin-bottom: 10px;
}

/* HEADER */

/* Top-bar */

header .top_bar {
  background-color: white;
  padding: 40px 0 20px;
  vertical-align: middle;
  color: black;
  width: 100%;
}

header .top_bar nav:not(.nested_nav) {
  margin-top: 7px;
}

header .top_bar .signup_btn {
  padding: 8px 12px;
  background-color: transparent;
  border: 1px solid #006AFF;
  border-radius: 5px;
  color: #006AFF;
}

header .top_bar .signup_btn:hover {
  color: white;
  background-color: #006AFF;
}

header .top_bar .hamburger_col {
  display: none;
}

header .top_bar .hamburger_col button {
  margin-top: 7px;
  border: none;
  background-color: transparent;
  line-height: 16px;
}

header .top_bar .hamburger_col i {
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width:991px) {
  header .top_bar .hamburger_col {
    display: inline;
  }

  header .top_bar .row> *:not(.hamburger_col):not(:first-child) {
    display: none;
  }
}

@media screen and (max-width:767px) {
  header .logo {
    max-width: 100%;
  }
}

/* Hero */

.hero {
  margin-top: 91.52px;
  background-image: url(../img/bg-home-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.hero .hero_text p {
  font-size: 20px;
  color: #AEC4FF;
}

.hero .account_box {
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  margin-left: 40px;
}

.hero .account_box h2 {
  font-size: 30px;
}

.create_account_btn, .signup_google_btn {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.create_account_btn {
  background-color: #5899FD;
  color: white;
  border: none;
  padding:5px 0;
  border-radius: 4px;
}

.signup_google_btn {
  color: black;
  text-decoration: none;
  padding:5px 0;
  box-shadow: 2px 2px 1px lightgrey;
  border-radius: 4px;
  font-weight: 700;
  background-image: url(../img/google-icon.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.signup_google_btn:hover {
  text-decoration: none;
  color: black;
}

.signup_google_btn:focus {
  color: black;
}

/* Responsive */

@media screen and (max-width:767px) {
  .hero .account_box {
    margin-left: 0;
  }
}

/* Sponsors section */

.sponsors {
  padding: 30px 0;
}

.sponsors h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.sponsors a {
  font-size: 16px;
}

.sponsors a:hover {
  color: #006AFF;
}


/* Responsive */
@media screen and (min-width: 768px) {
  .sponsors img {
    width: calc(100%/6 - 10px);
    vertical-align: middle;
  }

  .sponsors img:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .sponsors img {
    width: calc(100%/2 - 50px);
    vertical-align: middle;
  }

  .sponsors img:nth-child(2n+2) {
    margin-left: 50px;
  }
}

/* MAIN */

main section {
  padding: 50px 0;
}

/* Deploy section */

.deploy_section h2 ~ p {
  margin-bottom: 40px;
  color: #53617E;
}

.deploy_section ul {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0;
}

.deploy_section ul button {
  color: #6E7993;
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  border-left: 1px solid lightgrey;
  font-size: 18px;
}

.deploy_section ul button:hover {
  color: black;
  border-left: 1px solid black;
}

.deploy_section ul button:focus {
  color: black;
  border-left: 1px solid black;
}

.deploy_section .features_box p {
  font-size: 15px;
}

/* Carousel section */

.carousel_section h2 {
  padding-bottom: 20px;
}

.carousel_section p {
  padding-bottom: 60px;
}

.carousel_section .carousel_img {
  width: 50%;
  margin: 0 20px 30px;
}

.carousel_section .carousel_arrow {
  border: none;
  background-color: transparent;
  font-size: 60px;
}

.carousel_section .carousel_dot {
  border-radius: 50%;
  border: 1px solid #006AFF;
  background-color: transparent;
  height: 10px;
  width: 10px;
  padding: 0;
}

.carousel_section .carousel_dot:focus {
  border: 1px solid #006AFF;
  background-color: #006AFF;
}

/* Responsive */

@media screen and (max-width: 767px) {
  .carousel_section .carousel_arrow {
    display: none;
  }
}

/* Features section */

.features_section h2 {
  padding-bottom: 20px;
}
