* {
  font-family: 'Roboto', sans-serif;
}

/* MIX */
.logo {
  width:165px;
}

ul {
  margin-bottom: 0;
}

.textb_color {
color: #006AFF;
}

.textw_color {
  color: white;
}

/* TYPO */

a:focus {
  text-decoration: none;
}

header .top_bar a {
  color: black;
}

header .top_bar a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

/* Dropdown links */
details {
  position: relative;
}

details summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details p {
  position: absolute;
}

details ul {
  position: absolute;
  background-color: white;
  z-index: 5;
  border: 1px solid black;
  padding: 10px 40px;
}

details li:hover {
  text-shadow: 0 0 6px #006AFF;
}

details li:not(:last-child) {
  margin-bottom: 10px;
}

/* HEADER */

/* Top-bar */

header .top_bar {
  background-color: white;
  padding: 40px 0 20px;
  vertical-align: middle;
  color: black;
  width: 100%;
}

header .top_bar nav:not(.nested_nav) {
  margin-top: 7px;
}

header .top_bar .signup_btn {
  padding: 8px 12px;
  background-color: transparent;
  border: 1px solid #006AFF;
  border-radius: 5px;
  color: #006AFF;
}

header .top_bar .signup_btn:hover {
  color: white;
  background-color: #006AFF;
}

header .top_bar .hamburger_col {
  display: none;
}

header .top_bar .hamburger_col button {
  margin-top: 7px;
  border: none;
  background-color: transparent;
  line-height: 16px;
}

header .top_bar .hamburger_col i {
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width:991px) {
  header .top_bar .hamburger_col {
    display: inline;
  }

  header .top_bar .row> *:not(.hamburger_col):not(:first-child) {
    display: none;
  }
}

@media screen and (max-width:767px) {
  header .logo {
    max-width: 100%;
  }
}

/* Hero */

.hero {
  margin-top: 91.52px;
  background-image: url(../img/bg-home-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.hero .hero_text p {
  font-size: 20px;
}

.hero .account_box {
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  margin-left: 40px;
}

.create_account_btn, .signup_google_btn {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.create_account_btn {
  background-color: #5899FD;
  color: white;
  border: none;
  padding:5px 0;
  border-radius: 4px;
}

.signup_google_btn {
  color: black;
  text-decoration: none;
  padding:5px 0;
  box-shadow: 2px 2px 1px lightgrey;
  border-radius: 4px;
  font-weight: 700;
  background-image: url(../img/google-icon.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.signup_google_btn:hover {
  text-decoration: none;
  color: black;
}

.signup_google_btn:focus {
  color: black;
}
